<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="APIURL" value="https://localhost:44392/api/"/>
  </appSettings>
  <connectionStrings>
    <add name="BandItEntities" connectionString="metadata=res://*/BandIt.csdl|res://*/BandIt.ssdl|res://*/BandIt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BandIt;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>