<nav class="navbar navbar-dark bg-dark static-top" style="z-index: 2">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 32px; ">Band<span style="color:#007bff; font-weight: bold">It!</span></a>
        
        <div style="display: table" class="whitetext">
            <div style="display: table-cell; vertical-align: middle">Welcome <a href="#">Eryk</a>!</div>
        </div>
    </div>
</nav>