<nav class="navbar navbar-dark bg-dark static-top" style="z-index: 2">
    <div class="container">
        <a class="navbar-brand" href="~/home/index" style="font-size: 32px; ">Band<span style="color:#007bff; font-weight: bold">It!</span></a>
        
        <div>
            <a href="~/user/show/@Session["ID"]" class="mr-2">
                <img src="~/Content/Images/user.png" />
            </a>
            <a class="btn btn-primary" href="~/home/logout">Log out</a>
        </div>
    </div>
</nav>