<nav class="navbar navbar-dark bg-dark static-top" style="z-index: 2">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 32px; ">Band<span style="color:#007bff; font-weight: bold">It!</span></a>
        
        <form class="form-inline">
            <input type="email" class="form-control mr-2" placeholder="Email/Username" />
            <input type="password" class="form-control mr-2" placeholder="Password" />
            <a class="btn btn-primary" href="#">Log in!</a>
        </form>
    </div>
</nav>